.widget-baseinput_number- {
        {
        id
    }
}

    {
    background-color: #FFFFFF !important;
    position: relative;
}

.widget-baseinput_number- {
        {
        id
    }
}

.title {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    color: #000000 !important;
}

.widget-baseinput_number- {
        {
        id
    }
}

.value-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #000000 !important;
}

.widget-baseinput_number- {
        {
        id
    }
}

.value {
    font-size: 300%;
    font-weight: bold;
}

.widget-baseinput_number- {
        {
        id
    }
}

.units {
    font-size: 100%;
    margin-left: 5px;
}

.widget-baseinput_number- {
        {
        id
    }
}

.btn-minus {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #000000 !important;
}

.widget-baseinput_number- {
        {
        id
    }
}

.btn-plus {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #000000 !important;
}