.widget-baseinput_select- {
        {
        id
    }
}

    {
    position: relative;
    cursor: pointer;
}

.widget-baseinput_select- {
        {
        id
    }
}

.title {
    position: absolute;
    top: 5px;
    width: 100%;
}

.widget-baseinput_select- {
        {
        id
    }
}

.selected_option {
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
}