.widget-baseinput_number- {
        {
        id
    }
}

    {
    position: relative;
}

.widget-baseinput_number- {
        {
        id
    }
}

.title {
    position: absolute;
    top: 5px;
    width: 100%;
}

.widget-baseinput_number- {
        {
        id
    }
}

.value {
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
}

.widget-baseinput_number- {
        {
        id
    }
}

.control-minus {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 30%;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.widget-baseinput_number- {
        {
        id
    }
}

.control-plus {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 30%;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}