.widget-baselock- {
        {
        id
    }
}

    {
    background-color: #FFFFFF !important;
    position: relative;
}

.widget-baselock- {
        {
        id
    }
}

.title {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    color: #000000 !important;
}

.widget-baselock- {
        {
        id
    }
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    cursor: pointer;
    color: #000000 !important;
}