/* Clean CSS for baseswitch widget */
.title {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    cursor: pointer;
}

.state_text {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}