.widget-basefan- {
        {
        id
    }
}

    {
    background-color: #FFFFFF !important;
    position: relative;
}

.widget-basefan- {
        {
        id
    }
}

.title {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    color: #000000 !important;
}

.widget-basefan- {
        {
        id
    }
}

.container {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #000000 !important;
}

.widget-basefan- {
        {
        id
    }
}

.speed1,
.widget-basefan- {
        {
        id
    }
}

.speed2,
.widget-basefan- {
        {
        id
    }
}

.speed3 {
    width: 30%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 0;
}

.widget-basefan- {
        {
        id
    }
}

.speed-icon {
    font-size: 28px;
    color: #000000 !important;
}