.widget-basecover- {
        {
        id
    }
}

    {
    position: relative;
}

.widget-basecover- {
        {
        id
    }
}

.title {
    position: absolute;
    top: 5px;
    width: 100%;
}

.widget-basecover- {
        {
        id
    }
}

.icon {
    position: absolute;
    top: 35px;
    left: 35%;
    width: 30%;
    text-align: center;
    font-size: 30px;
}

.widget-basecover- {
        {
        id
    }
}

.control-open {
    position: absolute;
    top: 35px;
    left: 5px;
    width: 30%;
    cursor: pointer;
    text-align: center;
}

.widget-basecover- {
        {
        id
    }
}

.control-close {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 30%;
    cursor: pointer;
    text-align: center;
}